//- Variables
//--------------------------------------------------------------------------------------------------
//- Ghanged by gulp
- var inculdeWay = "pretty"


//- Includes
//--------------------------------------------------------------------------------------------------
include head
include styles


//- Layout
//--------------------------------------------------------------------------------------------------
doctype html
html
  +head

  body.body
    .main
      block layout-content
