mixin styles
	if inculdeWay == "dev"
		link(href="css/normalize.css", rel="stylesheet")
		link(href="css/styles.css", rel="stylesheet")

	if inculdeWay == "minify"
		link(href="css/styles.min.css", rel="stylesheet")
	
	if inculdeWay == "pretty"
		link(href="css/styles.pretty.css", rel="stylesheet")
