// Helpers
//===============================================
@import "helpers/*"


// Variables
//===============================================
@import "variables"


// Common elements
//===============================================
@import "layout"
@import "headings"
// @import "inputs"
@import "typography"
@import "links"
// @import "lists"


// Header
//===============================================
.header
  color white
  padding-bottom 20px

  &-top
    overflow hidden
    border-radius: 20px 20px 0 0
    background #0e8698 url("../img/top-bg.png") 0 0 repeat-y

  &-left
    float left
    table()
    width auto

  &-logo
    table-cell("middle")
    padding 20px 25px 10px 25px

  &-text
    table-cell("middle")
    padding-top 5px
    font-size 18px
    line-height 18px

  &-phone
    float right
    table()
    width auto
    padding 20px 25px 0 0
    text-align right

    &-text
      font-size 14px

    &-number
      font-size 18px
      font-family font-secondary

  &-main
    position relative
    height 640px
    background #bfbfbf

    &-in
      position absolute
      left 0
      top 42%
      width 100%
      text-align center

    &-title
      font-size 89px
      line-height 105px
      font-weight bold

    &-text
      font-size 25px
      font-family font-secondary

// Pics
//===============================================
.pics
  table()
  padding-bottom 10px

  &-img
    display block
    width 100%

    &_half
      display block
      float left
      width 50%
      padding 0 0 17px 17px

  &-left
    table-cell()
    width 345px

  &-right
    table-cell()

// Text
//===============================================
.text
  padding 0 10px
  padding-bottom 20px
  font-size 25px
  line-height 33px
  text-align center

// Info
//===============================================
.info
  table()
  padding 0 150px
  padding-bottom 20px
  font-size 14px

  &-elem
    table-cell()
    padding 0 15px
    text-align center

    &-pic
      height 75px
      background-position center bottom
      background-repeat no-repeat

      &_rest
        background-image url("../img/i-rest.png")

      &_cruise
        background-image url("../img/i-cruise.png")

      &_chukotka
        background-image url("../img/i-chukotka.png")

      &_childrens
        background-image url("../img/i-childrens.png")

      &_ny
        background-image url("../img/i-ny.png")

    &-name
      padding-top 30px

// Line
//===============================================
.line
  height 6px
  background #00b43b url("../img/bottom-bg.png") 0 0 repeat-x
