// Links
// =================================================================================================
a
	display inline-block
	color orange
	font-family font-primary
	border-bottom 1px solid orange
	tdn()
	anim()

	&:hover
		border-color #fff

.btn-hire
	display block
	padding 20px
	max-width 500px
	margin 0 auto
	color #fff
	font-size 20px
	text-align center
	border none
	background orange
	border-radius 5px
	tdn()

	&:hover
		background #000

	@media tablet
		font-size 22px

	@media laptop
		font-size 24px
