// Fonts
// =================================================================================================
@font-face
  font-family 'QuadraatSansPro'
  src url('../fonts/QuadraatSansPro.woff') format('woff')
  font-weight normal
  font-style normal

font-primary = 'QuadraatSansPro', sans-serif
font-secondary = Tahoma, sans-serif
