//- Extend layout
//--------------------------------------------------------------------------------------------------
extends ../layout/layout


//- Append this to 'layout-content'
//--------------------------------------------------------------------------------------------------
block append layout-content
  .header
    .header-top
      .header-left
        .header-logo: img(src="img/logo.png", alt="pic")
        .header-text Приключения <br>и открытия в России
      .header-right
        .header-phone
          .header-phone-text Справки по телефону
          .header-phone-number +7 495 125-28-08
    .header-main
      .header-main-in
        .header-main-title На вершине мира
        .header-main-text Путешетвие на острова Врангеля и Геральда
  
  .pics
    .pics-left
      .pics-el: img(src="img/pic-left.png", alt="pic").pics-img
    .pics-right
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
  
  .text Мечтаете стать исследователем, побывать в настоящей полярной экспедиции, увидеть один из самых малоизученных уголков планеты. Присоединяйтесь к путешествию за арктической красотой на острова Врангеля и Геральда.
    
  .info
    mixin info-elem(pic, name)
      .info-elem
        .info-elem-pic(class="info-elem-pic_#{pic}")
        .info-elem-name!= name
    
    +info-elem("rest", "Корпоративный <br> отдых")
    +info-elem("cruise", "Экспедиционные <br> круизы")
    +info-elem("chukotka", "Чукотка")
    +info-elem("childrens", "Отдых с&nbsp;детьми")
    +info-elem("ny", "Новогодние <br> туры")

  .line
