// Сollums
// =================================================================================================
wrap()
	font-size 0
	display block
	> *
		position relative
		width 100%
		min-height 1px
		font-size 1rem
		vertical-align top
		display inline-block

gutter(gutter = false, out = false)
	if gutter
		margin 0 (- gutter)
		> *
			padding 0 gutter
	if out
		margin 0

col(row = false)
	if (row == auto)
		width auto
	else
		width (100% / row)
